@keyframes success {
    0% {
        transform: translateY(-40px);
    }

    50% {
        transform: translateY(40px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes jump {
    from {
        transform: translateY(-40px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes error {
    0% {
        transform: translateX(-40px);
    }

    50% {
        transform: translateX(40px);
    }

    100% {
        transform: translateX(0);
    }
}